*.o
*.ko
*.cmd
*.a
*.order
*.symvers
*.mod.c
*.swp
tests
db
.config_SIM_DEBUG_x64
app/enclave_u.c
app/enclave_u.h
enclave.signed.so
enclave.so
enclave/enclave_t.c
enclave/enclave_t.h
*~
udata
rankings
join:*
p3:*
append:*
.config_HW_RELEASE_x64
core
.vscode/
.clang-format
